<div class="row">

  <div class="col-6">
    <app-doughnut [title]="title1" [doughnutChartLabels]="labels1" [values]="values1"></app-doughnut>
  </div>
  <div class="col-6">
    <app-doughnut [title]="title2" [doughnutChartLabels]="labels2" [values]="values2"></app-doughnut>
  </div>
  <div class="col-6">
    <app-doughnut [title]="title3" [doughnutChartLabels]="labels3" [values]="values3"></app-doughnut>
  </div>
  <div class="col-6">
    <app-doughnut [title]="title4" [doughnutChartLabels]="labels4" [values]="values4"></app-doughnut>
  </div>
</div>
